{% extends 'base.html'%}
{%load static%}
{% load humanize %}
{%block styles%}
{%endblock styles%}
{%block content%}
<!-- Main Content -->
<div id="content">
    {%include 'navbar.html'%}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">List of Active Collaterals</h1>
        </div>
        <p>This is a list of all the active collaterals held by Starwave Electronics awaiting clients to repay their loans. You can search or filter for a specific item. Click on the name of the collateral to view its details. Go to <a href="{%url 'reports'%}#inactive-loans" >Reports</a> to view all collected items.</p>
        <hr>
        <div class="card border-0 mb-4 bg-light px-0 mx-0">
            <div class="card-body px-0">
                <div class="table-responsive">
                    <table class="table table-striped table-borderless" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Collateral Name</th>
                            <th>Client Name</th>
                            <th>Phone Number</th>
                        </tr>
                        </thead>
                        <tbody class="mb-4">
                        {%if collaterals%}
                        {%for col in collaterals%}
                        <tr>
                            <td><a href="{%url 'collateral' id=col.collateral_id%}">{{col.collateral_name}}</a></td>
                            <td>{{col.loan.client_name}}</td>
                            <td>{{col.loan.client_phone_no}}</td>
                        </tr>
                        {%endfor%}
                        {%endif%}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->

</div>
<!-- New Loan Modal-->
<div class="modal fade" id="newLoanModal" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary">New Loan</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-danger">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="user" id="new-loan-form" method="post">
                    {%csrf_token%}
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" name="client_name"
                               placeholder="Full Names" maxlength="300" required="" id="id_client_name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user"
                               placeholder="ID Number" name="client_id_no" maxlength="10" required=""
                               id="id_client_id_no">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user"
                               placeholder="Phone Number" name="client_phone_no" maxlength="10" required=""
                               id="id_client_phone_no">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user"
                               placeholder="Collateral Name" name="collateral_name" maxlength="200" required=""
                               id="id_collateral_name">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control form-control-user"
                               placeholder="Loan Period (days)" name="loan_period" required="" id="id_loan_period">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control form-control-user"
                               placeholder="Loan Amount" name="loan_amount" step="any" required="" id="id_loan_amount">
                    </div>
                    <div class="form-group mt-4">
                        <button type="submit" class="btn btn-primary btn-user btn-block" id="create-loan">
                            Create
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- End of Main Content -->
{%endblock content%}
{%block scripts%}
<script>
$("#new-loan-form").submit(function(e){
    $.ajax({
        url : "{% url 'new_loan' %}",
        type : "POST",
        data : {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            full_names: $("#id_client_name").val(),
            id_number: $("#id_client_id_no").val(),
            phone_number:$("#id_client_phone_no").val(),
            collateral_name:$("#id_collateral_name").val(),
            loan_period:$("#id_loan_period").val(),
            loan_amount:$("#id_loan_amount").val(),
        },
        dataType: "json",
        encode: true,
        }).done(function(response) {
            console.log(response);
            $('#newLoanModal').modal('hide');
            window.location.reload(true);
    });
    e.preventDefault();
});

</script>
{%endblock scripts%}